.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    width: 512px;
    height: 512px;
    border-radius: 32px;
    background-color: rgb(190, 198, 202);
}

.icon {
    font-size: 450px;
    color: #323334;
}
