.App {
  min-height: 100vh;
  background-color: aliceblue;
}

.download_btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #606cda2c;
  border: 1px solid #7b7b7b3c;
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.download_btn:hover {
  background-color: #606cda4a;
}

#canvas {
  border: 1px solid rgba(174, 174, 174, 0.342);
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 20px;
  padding: 30px;
  max-width: 100vw;
  flex-wrap: wrap;
}